.collection {
  margin: auto;
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection__top-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.collection__images {
  height: 150px;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid var(--purple);
  flex-shrink: 0;
}

.collection__images > img {
  width: 30%;
  object-fit: fill;
  margin: 2px;
}

.collection__progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 30px;
  width: 100%;
  height: 150px;
}

.collection__progress_name {
  align-self: start;
  flex-grow: 1;
  font-weight: bold;
}

.collection__progress_text {
  align-self: start;
  margin-bottom: 10px;
  margin-left: 5px;
}

#collection__progress_bar {
  background-color: black;
  border-radius: 15px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#collection__progress_bar > div {
  background-color: #14d9bf;
  width: 55%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
}

.collection__bottom-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.collection__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.collection__list_pos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 30px;
}

.collection__list_pos > li {
  text-align: left;
}

.collection__button {
  align-self: flex-end;
}
