/* MOVIE DETAILS */
.movie-detail__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
}

.movie-detail {
  display: grid;
  grid-template-columns: 560px 1fr;
  grid-template-rows: 550px 1fr;
  margin-bottom: 160px;
}

.movie-detail__image {
  grid-column: 1;
  grid-row: 1/2;
  margin: 64px 0 0 64px;
}

.movie-detail__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 32px;
  grid-column: 2;
  grid-row: 1;
}

.movie-detail__about {
  grid-column: 2;
  grid-row: 2;
  padding-left: 32px;
}

.movie-detail__list {
  list-style: none;
  padding-left: 0;
}

.movie-detail__item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.movie-detail__item > h3 {
  margin: 0;
}

.movie-detail__title {
  margin: 0 16px 0 0;
}

.movie-detail__background {
  grid-column: 1/3;
  grid-row: 1;
  background-color: var(--purple);
  border-radius: 16px;
}

.movie-detail__description {
  margin-top: 30px;
  width: 70%;
}
