footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.footer__nav-link {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer__logo {
  height: 30px;
  opacity: 60%;
  transition: all 0.5s ease-in-out;
}

.footer__logo:hover {
  opacity: 100%;
}
