/* MAIN VARIABLES & COLORS */
:root {
  --main-bg-color: #23272b;
  --section-bg-color: #343a40;
  --footer-bg-color: #7a7e83;
  --purple: #7723cb;
  --progress-bar-color: #14d9bf;
  --color-light: #fff;
  --color-dark: #000;
}

/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT WEIGHT GUIDE: 
  regular - 400
  bold - 700 
  black - 900 */

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: var(--main-bg-color);
  color: var(--color-light);
}

/* HEADERS */
h1 {
  display: block;
  font-size: 3.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 900;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
}

/* COLOR VARIATIONS */

.text-purple {
  color: var(--purple);
}

/* SECTIONS */

.main-content {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 0;
}

.small-box {
  max-width: 650px;
}

.gray-section {
  background-color: var(--section-bg-color);
  border: 1px solid #707070;
  border-radius: 10px;
}

.section {
  background-color: var(--section-bg-color);
  border-radius: 25px;
  padding: 25px;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 25px;
}

/* BUTTONS */

.btn-primary {
  background-color: var(--purple);
  border: none;
  color: var(--color-light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 1em;
  position: relative;
  font-weight: bold;
  transition: ease-out 0.3s;
  z-index: 0;
}

.btn-primary:hover {
  color: var(--purple);
  cursor: pointer;
}

.btn-primary:before {
  background-color: var(--color-light);
  border-radius: 1em;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
}
.btn-primary:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
